<!doctype html>
<html>
<head>
  <title>MTAStat.us</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#333333"/>
</head>
<body>
  <div class="header">
    <h1>
      <a href="/">MTA STATUS</a>
    </h1>
    <h2>Subway, at a glance.</h2>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="bg"></div>
  <div class="screen"></div>
</body>
</html>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="script.js"></script>
