<!doctype html>
<html>
<head>
  <title>MTAStat.us</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#333333"/>

  <meta property="og:title" content="MTAStat.us" />
  <meta property="og:site_name" content="MTAStat.us" />
  <meta property="og:description" content="Subway Status, at a glance." />
  <meta property="og:url" content="http://mtastat.us" />
  <meta property="og:image" content="/og.png" />
  <meta property="og:type" content="website" />

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/img/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83206145-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="header">
    <h1>
      <a href="/">MTA STATUS</a>
    </h1>
    <h2>Subway, at a glance.</h2>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DAX5EWYKPCJAA" alt="buy me a beer?">
    <div class="donate"></div>
  </a>
  <div class="bg" style="background-image: url(<%= @bg_img %>)"></div>
  <div class="screen"></div>
</body>
</html>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
