<!doctype html>
<html>
<head>
  <title>MTA Status</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#333333"/>
</head>
<body>
  <div class="header">
    <h1><a href="/">MTA STATUS</a></h1>
    <h2>Subway, at a glance.</h2>
  </div>
  <div class="container">
    <% if (data) { %>
      <% data.trains.forEach(function(train) { %>
        <% if (train) { %>
          <% if (train.route === 'A' || train.route === 'G') { %>
            <br class="for_desktop"/>
          <% } %>
          <div class="trainname" id="<%= train.route.toLowerCase() %>">
            <div class="letter"><%= train.route %></div>
            <div class="status"><%= train.statusDetails.statusSummary %></div>
          </div>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="bg" style="background-image: url(<%= bgImg %>)"></div>
  <div class="screen"></div>
</body>
</html>
