html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", "Arial";
  color: white;
}

/* Screen mask */
.screen {
  height:100%;
  width: 100%;
  top: 0;
  background-color: #222;
  opacity: .7;
  position: fixed;
  z-index: -1;
}

/* Full background */
.bg {
  height:100%;
  width: 100%;
  background-color: #333;
  /* background: url is set by helper method and erb'ed into html */
  /* background: url(https://source.unsplash.com/category/buildings/1600x1200/?new+york); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  position: fixed;
  text-align: center;
}

/* Donate button */
.donate{
  z-index: 99;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
  background-color: #BBB;
  background-image: url(/img/beer.png);
  background-size: contain;
  background-position: 3px;
  background-repeat: no-repeat;
  border-top-left-radius:  20px;
}


/* Header */
.header {
  text-align: center;
  width: 100%;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.header h1 {
  padding-top: 10px;
  font-size: 14vw;
  line-height: 0px;
  font-weight: lighter;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

.header h2 {
  font-size: 7.5vw;
  line-height: 15px;
  font-weight: lighter;
}

/* Train Information */
.container {
  position: relative;
  max-width: 1200px;
  text-align: center;
  margin: 40px auto 0 auto;
}

.trainname {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 50px 10px;
}

.letter {
  width: 50px;
  font-size: 35px;
  position: absolute;
  background-color: transparent;
  padding-top: 4px;
  font-weight: bold;
  line-height: 1.2;
}

.status {
  position: absolute;
  font-size: 14px;
  color: #fff;
  height: 20px;
  padding-top: 55px;
  width: 80px;
  margin-left: -15px;
  text-align: center;
}

a { color: white }

.for_desktop { display: none; }

/* Long Status Information */
.long_status {
  text-align: left;
  width: 75%;
  height: auto;
  background-color: rgba(43, 43, 43, 0.85);
  border-radius: 10px;
  padding: 40px;
  z-index: 9999;
  margin: 0px auto 10px auto;
  top: 250px;
  left: 50%;
  font-size: 14px;
  line-height: 32px;
}

.long_status span {
  font-size: 17px;
  padding-bottom: 12px;
  color: yellow;
  display: block;
}

.long_status .TitleDelay {
  padding: 0;
}

.long_status .DateStyle {
  font-size: 14px;
  font-style: italic;
  color: #ffebae;
}

.long_status u {
  text-decoration: none;
  color: yellow;
}

.long_status b {
  color: #64e0ff;
  display: block;
}

.long_status p {
  margin: 0;
}

.plannedWorkDetail {
  margin-bottom: 20px;
}

/* Responsive Header */
@media (min-width: 890px){

  .header h1 { font-size: 120px }
  .header h2 { font-size: 40px }
  
  .trainname {
    width: 75px;
    height: 75px;
    margin: 0 20px 75px 20px;
  }

  .letter {
    width: 75px;
    font-size: 52px;
    line-height: normal;
  }

  .status {
    font-size: 20px;
    height: 20px;
    padding-top: 82px;
    width: 120px;
    margin-left: -20px;
    text-align: center;
  }

  .for_desktop { display: block; } 
}
