html, body{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", "Arial";
  color: white;
}

/* Screen mask */
.screen{
  height:100%;
  width: 100%;
  top: 0;
  background-color: #222;
  opacity: .7;
  position: fixed;
  z-index: -1;
}

/* Full background */
.bg{
  height:100%;
  width: 100%;
  background-color: #333;
  background: url(https://source.unsplash.com/category/buildings/1600x1200/?new+york);
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  position: fixed;
  text-align: center;
}

/* Header */
.header{
  text-align: center;
  width: 100%;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.header h1{
  font-size: 14vw;
  line-height: 0px;
  font-weight: lighter;
}

.header h2{
  font-size: 7.5vw;
  line-height: 15px;
  font-weight: lighter;
}

/* Train Information */
.container{
  position: relative;
  width: 90%;
  max-width: 900px;
  padding-left: auto;
  padding-right: auto;
  margin-top: 70px;
}

.trainname{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 55px;
}

.letter{
  width: 50px;
  font-size: 35px;
  position: absolute;
  background-color: transparent;
  padding-top: 4px;
  font-weight: bold;
}

.status{
  position: absolute;
  font-size: 14px;
  color: #fff;
  height: 20px;
  padding-top: 55px;
  width: 80px;
  margin-left: -15px;
  text-align: center;
}

a{ color: white }

/* Long Status Information */
.long_status{
  text-align: center;
  width: 90%;
  height: auto;
  font-size: 14px;
  background-color: rgba(0,0,0,.85);
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  z-index: 9999;
  margin: 0px 0px 20px 0px;
  top:250px;
  left: 50%;
}

/* Responsive Header */
@media (min-width: 800px) {
  .header h1{ font-size: 90px }
  .header h2{ font-size: 30px }
}
